body {
	background-color: #eceff1;
}
h2, h1{
	color: #3f51b5;
}

a:focus, a:hover, a:active{
	text-decoration: none;
	color: #ffab40;
}
.brand-logo{
	margin-left: 30px;
}
.card{
	height: 400px;
}
.modal{
	background: none;
	max-height: 100%;
	width: 100%;
}
#graphic, #calendar{
	margin: 10px;
	width: 450px;
	height: auto;
}

#logo{
	width: 40px;
	margin-right: 10px;
}
.col.m6{
	margin: 10px 0;
}
